*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:rgb(235, 231, 231);
    color: #333;
    font-family: "Nunito", sans-serif;
}

.container{
    display: flex;
    justify-content: space-between;
}

.weather-body{
    display: flex;
    width: 50%;
    padding: 1%;
    border-left: green 1px solid;
    border-right: green 1px solid;
    height: 100vh;
    flex-direction: column;
}

.left-adds{
    width: 25%;
    margin: 0 2%;
    background-color: #fff;
}

.right-adds{
    width: 25%;
    margin: 0 2%;
    background-color: #fff;
}

.input-field{
    margin-bottom: 2%;
    text-align: center;
    background-color: #fff;
    padding: 4% 2%;
    border-radius: 6px;
}

.input-field h3{
    padding: 2% 0;
}

.data-field{
    background-color: #fff;
    padding: 2% 5%;
    border-radius: 6px;
}


input[type = 'text']:focus{
    outline: none;  
}

input[type = 'submit']:focus{
    outline: none;  
}

.input-value:focus{
    box-shadow: 0;
    border: 1px solid green;
}

.input-submit{
    padding: 2% 1%;
    width: 30%;
    background-color:  green;
    color: #fff;
    font-size: 1.2rem;
    border: 0;
    border-radius: 6px;
    opacity: 0.8;
}

.input-submit:hover{
    opacity: 1;
    cursor: pointer;
}

.hide{
    display: none;
    width: 0 !important;
    height: 0 !important;
    opacity: 0 !important;
}

.load-field{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    border: 1px solid green;
}

.load-field2{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    border: 1px solid green;
}

.load-field p{
    color: slategray;
    padding: 1% 0;
    font-size: .882rem;
}

.load-field2 p{
    color: slategray;
    padding: 1% 0;
    font-size: .882rem;
}


.spinner {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin .1s linear infinite;
  }

  .spinner2 {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin .1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .search-form {
    --searchButtonWidth: 75px;
    max-width: 320px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
  
  .search-input {
    border: 1px solid green;
    border-radius: 4px;
    font-size: .99rem;
    width: 100%;
    padding: 0.8rem calc(var(--searchButtonWidth) + 0.8rem) 0.8rem 0.8rem;
    border-radius: 8px;
    width: 100%;
    background: #fff;
    -webkit-appearance: none;
  }
  .search-input:focus {
    outline: 0;
    background: white;
  }
  .search-input:not(:placeholder-shown) ~ .search-button {
    transform: translateX(calc(-1 * var(--searchButtonWidth)));
  }
  
  .search-button {
    border: 0;
    padding: 0.8rem;
    border-radius: 8px;
    position: absolute; 
    top: 0;
    left: 100%;
    width: var(--searchButtonWidth);
    transition: 0.2s;
    background: green;
    color: white;
    font-size: .99rem;
    height: 100%;
  }
  .search-button:focus {
    outline: 0;
    background: #222;
  }
  
  .screen-reader-text {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }


  @media(max-width: 768px){
    .container{
        flex-direction: column;
    }

    .weather-body{
        display: flex;
        width: 98%;
        padding: 1%;
        margin: 0 auto;
        border:0;
        flex-direction: column;
    }
    
    .left-adds{
        display: none;
        width: 25%;
        margin: 0 2%;
        background-color: #fff;
    }
    
    .right-adds{
        width: 25%;
        margin: 0 2%;
        background-color: #fff;
    }
    
    .input-field{
        margin-bottom: 2%;
        text-align: center;
        background-color: #fff;
        padding: 4% 2%;
        border-radius: 6px;
    }
    
    .input-field h3{
        padding: 2% 0;
    }
    
    .data-field{
        background-color: #fff;
        padding: 2% 5%;
        margin-bottom: 2%;
        border-radius: 6px;
    }
    
    
    input[type = 'text']:focus{
        outline: none;  
    }
    
    input[type = 'submit']:focus{
        outline: none;  
    }
    
    .input-value:focus{
        box-shadow: 0;
        border: 1px solid green;
    }
    
    .input-submit{
        padding: 2% 1%;
        width: 30%;
        background-color:  green;
        color: #fff;
        font-size: 1.2rem;
        border: 0;
        border-radius: 6px;
        opacity: 0.8;
    }
    
    .input-submit:hover{
        opacity: 1;
        cursor: pointer;
    }
    
    .hide{
        display: none;
        width: 0 !important;
        height: 0 !important;
        opacity: 0 !important;
    }
    
    .load-field{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100px;
        border: 1px solid green;
    }
    
    .load-field2{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100px;
        border: 1px solid green;
    }
    
    .load-field p{
        color: slategray;
        padding: 1% 0;
        font-size: .882rem;
    }
    
    .load-field2 p{
        color: slategray;
        padding: 1% 0;
        font-size: .882rem;
    }
    
    
    .spinner {
        border: 5px solid #f3f3f3; /* Light grey */
        border-top: 5px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 30px;
        height: 30px;
        animation: spin .1s linear infinite;
      }
    
      .spinner2 {
        border: 5px solid #f3f3f3; /* Light grey */
        border-top: 5px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 30px;
        height: 30px;
        animation: spin .1s linear infinite;
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    
      .search-form {
        --searchButtonWidth: 75px;
        max-width: 320px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
      }
      
      .search-input {
        border: 1px solid green;
        border-radius: 4px;
        font-size: .99rem;
        width: 100%;
        padding: 0.8rem calc(var(--searchButtonWidth) + 0.8rem) 0.8rem 0.8rem;
        border-radius: 8px;
        width: 100%;
        background: #fff;
        -webkit-appearance: none;
      }
      .search-input:focus {
        outline: 0;
        background: white;
      }
      .search-input:not(:placeholder-shown) ~ .search-button {
        transform: translateX(calc(-1 * var(--searchButtonWidth)));
      }
      
      .search-button {
        border: 0;
        padding: 0.8rem;
        border-radius: 8px;
        position: absolute; 
        top: 0;
        left: 100%;
        width: var(--searchButtonWidth);
        transition: 0.2s;
        background: green;
        color: white;
        font-size: .99rem;
        height: 100%;
      }
      .search-button:focus {
        outline: 0;
        background: #222;
      }
      
      .screen-reader-text {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
  }
