/* 
*** MEDIA QUERIES BREAKPOINTS ***

Small 	sm 	≥576px // Small devices (landscape phones, 576px and up)
Medium 	md 	≥768px // Medium devices (tablets, 768px and up)
Large 	lg 	≥992px // Large devices (desktops, 992px and up)
Extra large 	xl 	≥1200px // X-Large devices (large desktops, 1200px and up)
Extra extra large 	xxl 	≥1400px // XX-Large devices (larger desktops, 1400px and up)

 */

 /* 
 
 Body text - Font sizes should be around 16px to 18px for legibility (or 1.6rem to 1.8rem using our sizing rules mentioned above). If you can afford to go a bit larger, then even 21px can be pleasant to read. Headings - The headings should be around 1.96 times larger than your body text to create a sufficient contrast.
 
  */


/* ================================================================= */
/* larger desktops, 1400px and up */
 @media only screen and (max-width:1400px){
    .page-content, dialog {
      width: calc(0% + 68rem);
    }
 }
 /* ================================================================= */


/* ================================================================= */
/* large desktops, 1200px and up */
  @media only screen and (max-width:1200px){
    .page-content, dialog {
      width: calc(0% + 65rem);
    }
}
/* ================================================================= */


/* ================================================================= */
/* desktops, 992px and up */
  @media only screen and (max-width:992px){
    .major-artical-content p {
      padding: 0 .18rem;
    }
    .major-artical-heading {
      padding: .31rem 0;
    }
    .page-content, dialog {
      width: calc(0% + 55rem);
    }
    .head-details {
      font-size: .7rem;
    }
    .head-details{
      padding: .3rem !important;
    }
    .small-break-pages{
      font-size: .8rem !important;
    }
    .small-break-vol{
      font-size: .8rem !important;
    }
    .head-title span{
      font-size: 3.5rem !important;
    }
    .head-title img {
      width: 3.5rem !important;
    }
    .top-brief p {
      font-size: 1.1rem;
    }
    .main-title p {
      font-size: calc(0% + 1.8rem);
    }
    .bold-content-header {
      font-size: calc(0% + 1.1rem);
    }
    .bold-content-text {
      padding: .3rem;
    }
    .major-artical-heading {
      font-size: calc(0% + 1.5rem);
    }
    .side-article-heading {
      font-size: 1rem;
    }
    .side-article-links {
      margin: 1.2rem;
    }
    .text-content {
      width: 40%;
    }
    .image-content {
      width: 60%;
    }
    .image-view, .video-view {
      width: calc(0% + 358px);
    }
    .major-artical-content img {
      width: 100%;
    }
    .major-artical-content video {
      width: 100%;
    }
    .right-divs-head {
      font-size: 1rem;
      margin: .31rem;
    }
    .center-divs-head {
      font-size: 1rem;
      margin: .31rem;
    }
    .minor-content-left {
  padding: 0;
  width: auto;
  margin-left: 0.41rem;
  height: auto;
}
 }
 /* ================================================================= */


/* ================================================================= */
/* tablets, 768px and up */
  @media only screen and (max-width:768px){
    .page-content, dialog {
      width: calc(0% + 45rem);
    }
    .head-details p{
      font-size: .7rem !important;
    }
    .head-details p{
      font-size: .7rem !important;
    }
    .adea-email{
      display: none;
    }
    .head-title span {
      font-size: 2.5rem !important;
    }
        .head-title img {
      width: 2.5rem !important;
    }
    .major-artical-content {
      display: flex;
      display: flex;
      display: flex;
      flex-direction: column-reverse;
    }
    .text-content {
      width: 100%;
    }
    .image-content {
      width: 100%;
    }
    .main-content-image-container {
      margin-bottom: .5rem;
    }
    .image-view, .video-view {
      width: 100%;
    }
    .text-content {
      margin-top: .41rem;
    }
    .major-article {
      width: 60%;
    }
    .first-welcome-article {
      width: 20%;
    }
    .side-article {
      background: #e1e1e1;
      width: 20%;
    }
    .minor-content {
      display: block;
      width: 100%;
      margin-top: .41rem;
    }
    .minor-content-center {
      width: auto;
      margin: 0;
    }
    .minor-content-right {
      width: 100%;
    }
    .minor-content-right{
      margin: 0;
    }
    .video-view-bottom {
    width: 100%;
    margin-bottom: .41rem;
    }
 }
 /* ================================================================= */


/* ================================================================= */
/* landscape phones, 576px and up */
  @media only screen and (max-width:576px){
    body{
      line-height: 150%;
      font-family: sans-serif;
    }
    .page-content, dialog {
      /* display: none; */
      width: auto;
      border: none;
    }
    .main-article{
      display: flex;
      flex-direction: column;
    }
    .head-details{
      border: none !important;
      display: none;
    }
    .leter-head {
      justify-content: center;
      margin: 0;
      flex-direction: column;
    }
    .head-title span {
      font-size: 2.7rem !important;
      margin-top: .41rem;
    }
    .head-title img {
      width: 3.5rem !important;
    }
    .sm-only{
      display: flex;
      justify-content: space-between;
      line-height: .9rem;
      width: 100%;
      padding: 0 .4rem;
    }
    .head-details-sm{
      border: 0;
      margin-right: 0.81rem;
    }
    .bs-only{
      display: none;
    }
    .head-details-sm *{
      font-size: .7rem !important;
    }
    .small-break{
      margin: 0;
      padding: .41rem;
    }
    .small-break ul{
      font-size: .7rem !important;
      gap: .1rem !important;
    }
    .small-break-pages a{
      margin-right: .81rem;
    }
    .small-break-pages{
      font-weight: 500 !important;
    }
    .top-brief p {
      font-size: .8rem;
    }
    .main-title p {
     font-size: calc(0% + 1.3rem);
    }
    .side-article{
      display: none;
    }
    .major-article {
      width: 100%;
      display: block;
    margin-left: 0 !important;
    padding-right: 0 !important;
    }
    .main-first{
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
    }
    .first-welcome-article-main{
      width: 100%;
      margin: 0 .41rem !important;
    }
    .first-welcome-article {
      width: auto;
      margin: 0.41rem;
    }
    .bold-content-header {
      font-size: calc(0% + 1rem);
    }
    .bold-content-text {
      font-size: calc(0% + 15px);
    }
    .major-artical-heading {
      font-size: calc(0% + 1.3rem);
      margin-right: 0.41rem;
    }
    .side-article-sm{
      margin-top: .81rem;
      display: flex;
      flex-direction: column;
    }
    .side-article-heading {
      font-size: 1.2rem;
    }
    .side-article-links li {
      margin: .21rem 0;
    }
    .video-view {
    width: calc(0% + 96.5%);
    }
    .major-artical-content{
      width: 100%;
    }
    .major-artical-content p {
    margin-right: 0.41rem;
    }
    .text-content{
      width: 100%;
      margin: 0;
    }
    .below-main-img{
      margin-right: .41rem;
      display: block;
      width: auto;
    }
    .right-divs{
      display: block;
      width: 100%;
    }
    .center-divs{
      display: block;
      width: auto;
      margin-right: .41rem;
    }
    .center-div-body{
      width: 100%;
      margin-right: .41rem;
    }
    .main-last{
      display: block;
    }
    .minor-minor-content-right {
    width: auto;
    display: flex;
    margin: 0 0.4rem;
    }
    .big-different img {
    width: 100%;
    height: auto;
    }


#recommended_link_1, #recommended_link_2, #recommended_link_3, #recommended_link_4, #recommended_link_5, #recommended_link_6 {
        width: auto;
    border: none;
}

#recommended_link_1_body, #recommended_link_2_body, #recommended_link_3_body, #recommended_link_4_body, #recommended_link_5_body, #recommended_link_6_body {
    -webkit-animation: appear 350ms ease-in 1;
    animation: appear 350ms ease-in 1;
    -webkit-animation: appear 350ms ease-in 1;
    animation: appear 350ms ease-in 1;
    z-index: 10;
    width: auto !important;
    border: 3px solid #5c6435;
    height: 100%;
    top: 0;
    background-color: #f0f8ff;
    padding: 0;
    padding-top: 0;
    margin-bottom: 6rem;
    overflow-y: auto;

  
}

 }
 /* ================================================================= */