@media print{
  *{
    margin: 0;
    padding: 0;
  }
  html, body {
    margin: 0;
    padding: 0;
    background: #FFF; 
    font-size: 9.5pt;
    color: black;
    zoom: 92%;
  }

  title{
    display: none !important;
  }
  .container{
    width: 100%;
  }
  .page-content{
    margin: 0 auto;
    margin-bottom: 0;
    max-width: calc(0% + 100%);
    width: 100%;
    border: 3px solid rgba(0, 0, 0, 0.377);
    background-color: rgb(255, 255, 255);
  }
  .image-content{
    /* display: none; */
  }
}